body {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  
}
#text1 {
  text-align: center;
  color: orangered;
}
#text1:hover{
  color: blue;
}
#box1 {
  text-align: center;
  display: flex;
  flex-direction: column;  
  width: 100%;
  height: 100%;    
  margin-left: 0 ;
  background-image: url(https://images.agoramedia.com/everydayhealth/gcms/All-About-Bananas-Nutrition-Facts-Health-Benefits-Recipes-and-More-RM-722x406.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}
h1{
    color: blue;
}
h1:hover{
  color: red;
}
#box2{
  width: 100%;
  
  
 
  background-color: whitesmoke;  
}
#box3{
  
  width: 100%;
  background-image: url(https://media.tacdn.com/media/attractions-splice-spp-674x446/07/38/d3/49.jpg);
}
p:hover{
  color:orangered;
}